

*{
    box-sizing: border-box;
    padding-left: 0pt;/*helps to arrange the box from the left that is how far away from the left*/
    padding-right: 150pt;/*helps to arrange the box from the right that is how far away from the right*/
    margin:0pt

  
   
}

@import URL("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

.designbody 
{
display: flex;
/* when flex direction is set to row, you can use it to set your items beside each other, when column , it appears as column also now wrap with row brings item beside each other while column with nowrap changes individual div width, row with wrap makes an illusion of your div dividing */ 
flex-direction:row;
flex-wrap:wrap;
position: relative;
right: auto;
left: 150pt;
align-self: center;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
text-align: inherit;
}



div{
    
    height: 400px;
    width: 100%;
    display: block;
  
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10pt;
}
.font-face
{
    font-style: normal;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    text-align: center;
}

#edit-header{

font-weight: bolder;
color:wheat;
height: 100pt;
text-align: inherit;
position: fixed;
padding-left: 900pt;
font-size: 20pt;

animation-name:header-animation;
animation-duration: 10s;
animation-iteration-count: infinite;

animation-direction: alternate-reverse;
margin-top: 49px;

}

@keyframes header-animation
{
    0%
    {
       transform: translate(-20px 200px);
    }
    25%
    {
       transform: translate(-20px 200px);
    }

     50%
    {
        transform: translate(-20px 200px);
        
    }

     75%
    {
        transform: translate(-20px,200px);
    }

     100%
    {
      transform: translate(-20px 200px);
    }

}


.edit-link
{
    position: absolute;
    right: 700pt;
   padding-top: 300px;
   text-decoration-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    text-decoration: maroon;
    display:inline-block;
    border: mediumblue 2px;
    position: fixed;

}
a{
    color: wheat;
    border: white solid 3px;
    text-indent: 5px;
    display: inline-block;
    padding: 10px;
    bottom: 20px;

      
} 

a:hover
{
text-transform: capitalize;
background-color: teal;
color: white;
}


#Portrait
{
    position: absolute;
    height: 250px;
    right: 840pt;
    width: 400px;
}




 #edit-div-1
{
   background-color: #5f9ea0;
   align-self:center;
   height: 250px;
   
}


#edit-div-2
{
    background-color: #00ffff;
    
}

#edit-div-3
{
    background-color: #21abcd;
    
}

#edit-div-4
{
    background-color:#00bfff ;

}

#edit-div-5
{
    background-color: #ace5ee;
}
#edit-div-6
{
    background-color:#9bddff;
}

#edit-div-7
{
   background-color: #5f9ea0;

}
#edit-div-3
{
    width:30%;
}
#edit-div-4

{
    
  
    width: 70%;
}