*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.designbody 
{
display: flex;
/* when flex direction is set to row, you can use it to set your items beside each other, when column , it appears as column also now wrap with row brings item beside each other while column with nowrap changes individual div width, row with wrap makes an illusion of your div dividing */ 
flex-direction:row;
flex-wrap:wrap;
position: relative;
right: auto;
left: 150pt;
align-self: center;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


div{
    height: 400px;
    width: 70%;
    display: block;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10pt;
}
.font-face
{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif1;
    text-transform: uppercase;
}

#animate-Resume{

font-weight: bolder;
color: blueviolet;
position: absolute;
left: 0pt;
right: 0pt;


}

.edit-div-1
{
   background-color: #5f9ea0;

}

.edit-div-2
{
    background-color: #00ffff;
    
}

.edit-div-3
{
    background-color: #21abcd;
    
}

.edit-div-4
{
    background-color:#00bfff ;

}

.edit-div-5
{
    background-color: #ace5ee;
}
.edit-div-6
{
    background-color:#9bddff;
}

.edit-div-7
{
   background-color: #5f9ea0;

}
.edit-div-3,
.edit-div-4

{
    
  
    width: 35%;
}