*{
    box-sizing: border-box;
    padding-left: 0pt;/*helps to arrange the box from the left that is how far away from the left*/
    padding-right: 150pt;/*helps to arrange the box from the right that is how far away from the right*/
    margin:0pt
   
}
.designbody 
{
display: flex;
/* when flex direction is set to row, you can use it to set your items beside each other, when column , it appears as column also now wrap with row brings item beside each other while column with nowrap changes individual div width, row with wrap makes an illusion of your div dividing */ 
flex-direction:row;
flex-wrap:wrap;
position: relative;
right: auto;
left: 150pt;
align-self: center;
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
text-align: left;
}



div{
    
    height: 400px;
    width: 100%;
    display: block;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10pt;
}
.font-face
{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif1;
    text-transform: uppercase;
}

#edit-header{

font-weight: bolder;
color:#1e4d2b;
align-self: auto;
height: 100pt;
widows: 50px;
position: fixed;
padding-left: 700pt;
font-size: 15pt;
animation-name:header-animation;
animation-duration: 10s;
animation-iteration-count: infinite;
animation-fill-mode: forwards;
animation-direction:linear;margin-top: 49px;

}

@keyframes header-animation
{
    0%
    {
        transform: scale(1);
    }

     50%
    {
        transform: scale(1.2);
    }

     75%
    {
        transform: scale(0.9 );
    }

     100%
    {
        transform: scale(1);
    }

}

.edit-div-1
{
   background-color: #5f9ea0;
   align-self: center;
  

}

.edit-div-2
{
    background-color: #00ffff;
    
}

.edit-div-3
{
    background-color: #21abcd;
    
}

.edit-div-4
{
    background-color:#00bfff ;

}

.edit-div-5
{
    background-color: #ace5ee;
}
.edit-div-6
{
    background-color:#9bddff;
}

.edit-div-7
{
   background-color: #5f9ea0;

}
.edit-div-3,
.edit-div-4

{
    
  
    width: 50%;
}